/************************************************************
    Stylesheet Indexes


00 - WordPress Default
01 - Default Theme Styles
02 - Default Sidebar
03 - Default Search Form
04 - Default Select Dropdown styles (Nice Select)

*************************************************************/


/*theme default  */


html,
body {
    font-size: 15px;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.1em; 
    letter-spacing: .02em;
    text-transform: uppercase;
}
.h1, .h2, .h3, .h4, .h5, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, table {
    margin-top: 0;
    margin-bottom: 20px;
}


textarea,
input[type="text"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
    border:1px solid;
    background: #fafafa;
    padding-left:7px;
    padding-right: 7px;
    outline:0;
}

textarea:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
select:focus  {
    outline: 0;
}

input[type="submit"],
button{
    cursor: pointer;
}
p, a, h1, h2, h3, h4, h5, h6, span, li {
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a { 
    text-decoration: none;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }

a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}

/************************************************************
    s00 - Wordpress default
*************************************************************/

.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    float: none;
    display: block;
    margin: 0 auto 30px;
}

img {
    max-width: 100%;
    height: auto;
}

.alignright {
    float: right;
    margin: 5px 0 15px 15px;
}

.alignleft {
    float: left;
    margin: 5px 15px 15px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 15px 15px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 15px 15px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption {
    max-width: 100%;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
}

.wp-caption-text {
    padding: 5px 10px;
    font-size: 85%;
}

.wp-caption.alignnone {
    margin: 0 0 30px;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 8px;
}

.page-links {
    margin-top: 40px;
    display: block;
    width: 100%;
    clear: both;
    padding-top: 10px;
    padding-bottom: 10px;
}


.page-links span {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 28px;
}

.page-links a span {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

span.page-links-title {
    border:0;
    margin-left: 0;
    padding-left: 0;
    width:auto;
}

div#toTop:hover {
    background: #333;
}

/* Text meant only for screen readers. */

.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    white-space: nowrap;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:focus {
    border-radius: 3px;
    clip: auto !important;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

figure, iframe, embed, object, select {
    max-width: 100%;
}

select {
    outline: none;
}

.gallery-caption {

}

.bypostauthor {
    
}

.sticky {

}

.sticky.post-item,
.category-sticky.post-item {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px !important;
}

.single .sticky.post-item,
.single .category-sticky.post-item {
    border:0;
    padding:0;
}

.post-password-form label {
    float: left;
    margin-right: 15px;
}

.post-password-form input[type="password"] {
    margin-left: 20px;
    margin-bottom: 20px;
}

.site-content {
    overflow-wrap: break-word;
}


.post-password-form input[type="submit"] {
    width: auto;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border: 0;
    outline: none;
    padding: 10px 15px;
    height: 40px;
    line-height: 18px;
}


/**
 * WordPress Comments
 *
 */

 #comments {
    margin-top: 60px;
}

.posts-nav+#comments {
    margin-top: 40px;
}


#comments .comment-author.vcard img {
    border-radius: 50%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}


#comments .comment-info {
    padding:15px 20px;
    position: relative;
}


.comment-list {
    padding:0;
}

.comment-list li.comment {
    list-style-type: none;
}

.comment-list .media {
    margin-bottom: 30px;
}

.comment-info .fn {
    font-weight: bold;
}


.comment-meta {
    font-size: 85%;
    text-align: right;
}


.comment-single-left {
    display: block;
    width: 90px;
    float: left;
    margin-right: 25px;
    height: 90px;
}


.comment-single-right {
    width: 80%;
    width:calc(100% - 115px);
    float:right;
    display: block;
    margin-bottom: 35px;
}

#commentform {
    position: relative;
}

#commentform fieldset {
    clear: both;
}

#commentform textarea {
    height: 150px;
    padding: 10px;
    width: 100%;
    display: block;
}
.comment-form-comment{
    margin-bottom: 20px;
}
#commentform input[type="text"] {
    width:100%;
    padding:10px;
}

p.form-submit {
    margin-bottom: 30px;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
    margin-bottom: 20px;
}

.moderation-notice {
    text-align: right;
}

#commentform input[type="email"] {
    width: 100%;
    padding: 10px;
}

#commentform fieldset {
    position: relative;
}


#comment-error,
#author-error,
#email-error,
#url-error{
    position: absolute;
    bottom: -10px;
}

#comments .comment-info:before {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 14px 15px 0;
    position: absolute;
    left: -13px;
    top: 30px;
    z-index: -1;
}

/**
 * WordPress Gallery Support
 *
 */

 .gallery-item {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 0 0 1.5em;
    padding: 0 1em 0 0;
    width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery-columns-10 .gallery-item {
    max-width: 10%;
}

.gallery-columns-11 .gallery-item {
    max-width: 9.09%;
}

.gallery-columns-12 .gallery-item {
    max-width: 8.33%;
}


.gallery-item a, 
.gallery-item a:hover, 
.gallery-item a:focus {
    display: inline-block;
    width: 100%;
}


.gallery-item a img {
    display: block;
    width:100%;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.gallery-item a:hover img, .gallery-item a:focus img {
    opacity: .6;
}


/************************************************************
    s01 - Theme Default
*************************************************************/

#whole {
    position: relative;
    overflow: hidden;
}

.clearfix:before, .clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {clear:both;}
.clearfix {zoom:1;}


td, th {
  padding:10px;
}



dd {
  margin-bottom: 15px;
}

address {
    font-style: italic;
}

b, strong { font-weight: 600; }

u { text-decoration: underline; }

i, em { font-style: italic; }

blockquote {
    margin: 0 0 30px;
    font-style: italic;
    line-height: 1.65em;
    padding:20px;
}

blockquote footer {
    margin-top: 20px;
} 



blockquote cite {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

#secondary > .sidebar-widget:first-child,
#primary > .post-item:first-of-type {
    padding-top:0;
}

.post-item {
    padding-top: 45px;
    padding-bottom: 20px;
}

#primary > .post-item:last-child {
    border-bottom:0;
}

.post-meta > div {
    display: block;
    float:left;
    margin-right:20px;
}

.post-meta > div i {
    margin-right: 7px;
}

.post-meta {
    margin-bottom: 30px;
    width: 100%;
    float: none;
    clear: both;
    overflow: hidden;
}

h2.post-title {
    margin-bottom: 10px;
}


.read-more a {
    padding:8px 15px;
    display: inline-block;
    margin-bottom:25px;
}

.image-featured {
    margin-bottom: 25px;
}

.tagcloud a,
.post-tag a {
    padding: 8px 15px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 8px;
    font-size: 14px !important;
}

.posts-nav {
    margin-top: 30px;

}

.posts-nav .nav-previous,
.posts-nav .nav-next { 
    margin-top:10px; 
    margin-bottom:10px;
}

.search-title {
    text-transform: inherit;
}

/************************************************************
    s02 - Sidebar
*************************************************************/

#secondary .sidebar-widget:last-child {
    border-bottom:0;
}

.sidebar-widget {
    padding-top:30px;
    padding-bottom: 30px;
}


.widgettitle a{
    font-weight: 400;
}
.sidebar-widget ul {
    list-style: none;
    padding: 0;
    /*overflow: hidden;*/
}

.sidebar-widget li {
    line-height: 1.65em;
    position: relative;
    padding-left: 15px;
}
.widget_nav_menu   li{
       padding-left: 0px; 
}
.widget_nav_menu   li a{
    padding-left: 15px;
}
.widget_nav_menu  .menu-item-has-children:after{
    content: none;
}
.widget_nav_menu.sidebar-widget li::before {
    content: "\f0da";
}
.sidebar-widget li::before {
    content: "\f0da";
    position: absolute;
    left: 0;
    top: 0;
    font-weight: 900;
    font-size: 80%;
    font-family: "Font Awesome 5 Free";
}


.sidebar-widget li ul li::before {
    content:"\f105";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}

.sidebar-widget ul li a:hover {
    text-decoration: none;
}
.sidebar-widget ul li a {
    position: relative;
    padding-right: 5px;
    line-height: 1.65em;
}

.sidebar-widget select {
    width: 100%;
    padding: 10px;
}
.sidebar-widget table {
    width: 100%;
}

.widget_rss > ul > li {
    margin-bottom: 15px;
}

/************************************************************
    s03- Default Search Form
*************************************************************/

.sidebar-widget form.input-group {
    width:100%;
}

.error404 form.input-group,
.search form.input-group {
    max-width:400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
}

.error404 .input-group .form-control,
.search .input-group .form-control,
.sidebar-widget .input-group .form-control {
    width:calc(100% - 50px);
    float: left;
    height:40px;
    outline:none;
}


.error404 form input[type="submit"],
.search form input[type="submit"],
.sidebar-widget input[type="submit"] {
    float: right;
    height: 40px;
    text-indent: -99999px;
    line-height: 0;
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-size: 20px;
    background-size: 25px;
    width: 50px !important;
    background-position: center;
}

.search .input-group .form-control,
.error404 .input-group .form-control {
    border: 1px solid #ccc;
    box-shadow: none;
}

.search button.search-submit,
.error404 button.search-submit{
    width: 50px;
    height: 40px;
    border: 1px solid #ccc;
    border-left: 0;
    background: #f3f0f0;
}
.search button.search-submit:before,
.error404 button.search-submit:before {
    content: "\f002";
    font-family: FontAwesome;
    font-style: normal;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    text-indent: 0;
    height: 100%;
    line-height: 39px;
    color: #555;
    font-size: 16px;
}
/************************************************************
    s04 - Select dropdown
*************************************************************/

.nice-select {
    white-space: pre-wrap;
    min-height: 40px;
    height: auto;
    line-height: 1.65em;
    padding: 7px 15px;
}

.nice-select, .nice-select .list {
    border-radius: 0px;
}

.nice-select, .nice-select.open .list {
    display: block;
    width: 100%;
    max-height: 600px;
    overflow-y: visible;
}

.nice-select .option {
    cursor: pointer;
    font-weight: 400;
    line-height: 1.65em;
    list-style: none;
    outline: none;
    text-align: left;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 9px 15px;
}

.nice-select li::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    left: 6px;
    top: -1px;
    font-size: 90%;
}


/*To Top button*/
#toTop {
    bottom: 30px;
    cursor: pointer;
    display: none;
    height: 40px;
    position: fixed;
    right: 15px;
    width: 40px;
    z-index: 999;
    color: #fff;
    text-align: center;
    line-height: 40px;
    -webkit-transition: all .4s ease 0s;
    -moz-transition: all .4s ease 0s;
    -ms-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

/*page Loader*/
/**
 * Components Pre loader
 *
 */
.cx-pageloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background-color: #fff;
}

.cx-pageloader .cx-pageloader-inner {
  transform: translateY(-50%);
  top: 50%;
  position: absolute;
  width: calc(100% - 200px);
  color: #1ca5b8;
  padding: 0 100px;
  text-align: center;
  width: 100%;
  height: auto;
}

.cx-pageloader .cx-pageloader-inner label {
  font-size: 32px;
  font-family: sans-serif;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes lol {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.cx-pageloader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cx-pageloader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cx-pageloader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cx-pageloader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cx-pageloader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cx-pageloader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

/* 
.elementor-section.elementor-section-boxed>.elementor-container{
    padding-right: 15px;
    padding-left: 15px;
}
.elementor-inner-section.elementor-section.elementor-section-boxed>.elementor-container {
    margin-right: -15px;
    margin-left: -15px;
}
.elementor-section.elementor-section-boxed>.elementor-container .elementor-row{
    margin-right: -15px; 
    margin-left: -15px;
    width: calc(100% + 30px);
}
.elementor-section.elementor-section-boxed>.elementor-container .elementor-column{
    padding-right: 15px;
    padding-left: 15px;
}
*/
.elementor-text-editor p:last-child {
    margin-bottom: 0;
}


/* Navigation Menu color*/

ul.sub-menu {
    background: #111;
}

ul.sub-menu .sub-menu {
    background: #222;
}

ul.sub-menu .sub-menu .sub-menu {
    background: #333;
}

ul.sub-menu .sub-menu .sub-menu .sub-menu {
    background: #444;
}

ul.sub-menu .sub-menu .sub-menu .sub-menu .sub-menu {
    background: #4a4a4a;
}

@media screen and ( max-width: 767px ) {
    ul.sub-menu,
    ul.sub-menu .sub-menu,
    ul.sub-menu .sub-menu .sub-menu,
    ul.sub-menu .sub-menu .sub-menu .sub-menu,
    ul.sub-menu .sub-menu .sub-menu .sub-menu .sub-menu {
        background: transparent;
    }

}


@media screen and ( min-width:768px ) {
   
   
}
@media screen and (max-width: 1199px) and (min-width: 993px){
   
}
@media screen and ( min-width: 1200px )  {
    
}



.sf-menu > li > a {
    padding: 10px 15px;
    transition: all 0;
    transition: color .3s;
}

.sf-menu ul.sub-menu li a {
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: initial;
    padding-right: 30px;
}


.sf-menu ul.sub-menu {
    padding-top: 10px;
    padding-bottom: 10px;
}

/**************************************
s13 header - Mobile Menu
**************************************/
#mobile-menu .has-child {
    position: relative;
}
#mobile-menu .has-child .drawer-toggle {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    width: 60px;
    height: 40px;
    text-align: center;
    z-index: 9999;
    border: 0;
    line-height: 40px;
    font-size: 19px;
}

#mobile-menu .has-child > ul {
    position: relative;
    opacity: 1;
    visibility: visible;
    width: auto;
    display: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    padding-left: 0;
}

/* mobile menu */
#mobile-menu .has-child .drawer-toggle i::before {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
#mobile-menu .has-child.open > .drawer-toggle i::before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    display: block;
}
.admin-bar div#c-menu--slide-left {
    margin-top: 46px;
}

@media screen and (max-width: 782px){
	.admin-bar header.header {
		top: 46px;
	}
}

@media screen and ( min-width:768px ) {
    .c-menu--slide-left,
    .primary-nav button {
        display: none !important;
    }
}


@media screen and ( max-width: 767px ) {
    
    #nav {
        display: none;
    }

    .wow {
        animation-name: none !important;
        visibility: visible !important;
    }

    #o-wrapper {
        max-width: 125px;
        float: right;
    }

    .alignleft, 
    .alignright {
        float: none;
        clear: both;
        margin-left: 0;
        margin-bottom: 30px;
        overflow: hidden;
    }

    /* Mobile Menu Started */

    .primary-nav-details {
        background: transparent;
        border: 0;
        outline: none;
        text-transform: uppercase;
        font-size: 19px;
        color: #fff;
        margin: 17px 0;
        line-height: 1;
    }
    
    .primary-nav-details i {
        font-size: 18px;
    }
    
    .c-menu {
        position: fixed;
        z-index: 99999;
        background-color: #2c2c2c;
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    
    .c-menu__items {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
    .c-menu--slide-left {
        width: 70%;
        height: 100%;
        overflow-y: auto;
        -webkit-transform: translateX(240px);
        -ms-transform: translateX(240px);
        transform: translateX(240px);
    }
    
    .c-menu--slide-left .c-menu__items li {
        display: block;
    }
 
    .c-menu--slide-left a {
        display: block;
        padding: 12px 20px;
        color: #fff;
        font-size: 18px;
        line-height: 1.3em;
        position: relative;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    
    .c-menu--slide-left a span {
        margin-left: 10px;
    }
    
    .c-menu--slide-left ul.sub-menu {
        margin-bottom: 15px;
    }

    .c-menu__items a:hover {
        text-decoration: none;
        background: #006aa2;
    }
    
    .c-menu--slide-left .c-menu__close {
        display: block;
        padding: 12px 24px;
        width: 100%;
    }
    
    .c-menu--slide-left {
        top: 0;
        left: 0;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    
    .c-menu--slide-left.is-active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    
    body.has-active-menu {
        overflow: hidden;
    }
    
    .c-menu__close {
        color: #fff;
        background-color: #555;
        font-size: 14px;
        border: none;
        box-shadow: none;
        border-radius: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    
    .c-menu__close:focus {
        outline: none;
    }
    
    .c-mask {
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        overflow: hidden;
        width: 0;
        height: 0;
        background-color: #000;
        opacity: 0;
        -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
        transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    }
    
    .c-mask.is-active {
        width: 100%;
        height: 100%;
        opacity: 0.7;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    
    .c-buttons {
        margin-bottom: 48px;
        text-align: center;
    }
    
    .c-button {
        display: inline-block;
        margin: 4px;
        padding: 12px 24px;
        color: #67b5d1;
        background: none;
        font-size: 14px;
        border: solid 2px #67b5d1;
        box-shadow: none;
        border-radius: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
    
    .c-button:focus {
        outline: none;
    }
    
    .c-button:disabled {
        opacity: 0.3;
        cursor: not-allowed;
    }

    /* Mobile Menu Finished */

    img.alignright, 
    img.alignleft {
        display: block;
        max-width:100%;
        margin-left:auto;
        margin-right:auto;
        clear: both;
        overflow: hidden;
        margin-bottom:20px;
    }
    .posts-nav .nav-previous, 
    .posts-nav .nav-next {
        max-width: 50%;
        float: right;
        clear: initial;
    }
    .posts-nav .nav-previous {
        float: left;
    }
    .search-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .search-content .image-featured {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 0 0 0;
    }
    .search-content .post-details {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
    }



} /* ( max-width: 767px ) */

@media screen and ( max-width: 480px ) {

    .c-menu--slide-left {
        width: 75%;
    }

    .c-menu--slide-left a {
        font-size: 16px;
    }
    
    #mobile_menu .icon-menu {
        font-size: 22px;
        margin-top: 8px;
    }

    #mobile_menu .icon-menu::before {
        left: -70px;
        top: 3px;
        font-size: 24px;
    }

    ul.sub-menu {
        padding-left: 30px;
    }


    ul.sub-menu .sub-menu {
        padding-left: 30px;
    }
	
	.post-single-content.search-content {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .search-content .image-featured {
        -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
                flex: 0 0 100%;
        max-width: 100%;
    }
	
	
} /* ( max-width: 480px ) */
